.sidebar {
  height: 100vh;
  padding: 1em;
  background-color: var(--backgroundSidebar);
}
.logo,
.companyList {
  padding: 1em;
}
.button-newWorker {
  align-self: center;
  display: block;
  background-color: var(--activeColor);
  border: none;
  padding: 8px 15px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}
