.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--backgroundSidebar);
}
.logo {
  padding: 2em;
}
.companyList {
  padding: 2em;
  overflow-y: scroll;
}

.container__button--newworker {
  display: grid;
  place-items: center;
  background-color: #1f222b;
  height: 14vh;
}
.button--newWorker {
  cursor: pointer;
  align-self: center;
  display: block;
  background: linear-gradient(
    #ff725d 0%,
    #cb544e 0%,
    #f26b58 0%,
    #e66553 0%,
    #c05043 0%,
    #ee8849 100%,
    #6d3027 100%
  );
  /* background-color: var(--activeColor); */
  border: none;
  padding: 8px 15px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
}
