:root {
  --backgroundSidebar: #242731;
  --textSidebar: #878991;
  --backgroundContainer: #f6f4f2;
  --textHeadline: #292d34;
  --textColor: #3b3b3b;
  --activeColor: #ee8849;
  --hoverGradient: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 237, 237, 1) 100%
  );
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.gridContainer {
  display: grid;
  grid-template-columns: 32vh auto;
}
